<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Conversation Title:</strong> <%= @conversation.title %> </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Conversation Members</div>

            <!-- List group -->
            <% @conversation.users.each do |user| %>
              <ul class="list-group" data-link="<%= user_path(user) %>">
                <li class="list-group-item"><%= user.full_name %></li>
              </ul>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Posts</div>

          <!-- List group -->
          <% @posts = @conversation.posts.paginate(:page => params[:page], :per_page => 5) %>
          <% @posts.each do |post| %>
            <ul class="list-group">
              <li class="list-group-item"><%= post.body %></li>
            </ul>
          <% end %>
        </div>
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</row>
