<div class="row">
  <div class="col-md-2">
    <div class="post-heading">
      <h2>Members</h2>
    </div>

    <% @conversation.group.users.each do |user| %>
      <div class="list-group-card-members">
        <a href="/users/<%= user.id %>" class="list-group-item list">
          <p class="list-group-item-text"><%= user.full_name %></p>
        </a>
      </div>
    <% end %>
  </div>

  <div class="col-md-10">
    <div class="post-heading list-header">
      <h2><%= @conversation.title %></h2>
    </div>
    <div class="list-header button">
      <%= link_to 'New post', new_post_path(conversation_id: params[:id]), :class => "btn btn-primary" %>
    </div>

    <div class="list-group">
      <% @posts = @conversation.posts.paginate(:page => params[:page], :per_page => 5).order('created_at DESC') %>
      <% @posts.each do |post| %>
        <div class="list-group-card">
          <a class="list-group-item post">
            <h3><strong><%= post.title %></strong></h3>
            <p class="list-group-item-text"><%= post.body %></p>
            <h5 class="author"><%= post.user.full_name %></h5><h5 class="author date"><%= post.created_at.strftime("%b %d, %Y") %></h5>
          </a>
        </div>
      <% end %>
    </div>
    <%= will_paginate @posts %>
  </div>
</div>
