<div class="row">

  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <%= render 'shared/follow_form' if logged_in? %>
      </div>
    </div>
  </div> <!-- End of 3-col div -->

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Groups</div>

            <!-- List group -->
            <% @user.groups.each do |group| %>
              <ul class="list-group" data-link="<%= group_path(group) %>">
                <li class="list-group-item"><%= group.name %></li>
              </ul>
            <% end %>
          </div>
      </div>
    </div>

</div>
