<div class="row">
  <div class="col-md-3">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'shared/follow_form' if logged_in? %>
  </div>


  <div class="col-md-9">
    <div class="post-heading">
      <h4>Groups</h4>
    </div>

    <% @user.groups.each do |group| %>
      <div class="list-group-card-groups">
        <a href="/groups/<%= group.id %>" class="list-group-item">
          <p class="list-group-item-text"><%= group.name %></p>
        </a>
      </div>
    <% end %>
    <%= link_to 'New Group', new_user_group_path(user_id: current_user.id) %>
  </div>
</div>
