<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Group:</strong> <%= @group.name %> </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="post-heading">
      <h4>Members</h4>
    </div>

    <% @group.users.each do |user| %>
      <div class="list-group-card-members">
        <a href="/users/<%= user.id %>" class="list-group-item">
          <p class="list-group-item-text"><%= user.full_name %></p>
        </a>
      </div>
    <% end %>
  </div>

  <div class="col-md-10">
    <div class="post-heading list-header">
      <h4>Conversations</h4>
    </div>

    <% if current_user.groups.include?(Group.find(params[:id]))%>

      <div class="list-header button">
        <%= link_to 'New Conversation', new_conversation_path(group_id: params[:id]), :class => "btn btn-default" %>
      </div>

    <% else %>

      <div class="list-header button">
        <%= button_to 'Join Group', {:controller => "user_groups", :action => "create", :user_group => {:group_id => params[:id], :user_id => current_user.id}}, class: "btn btn-default" %>
      </div>

    <% end %>

    <% @group.conversations.each do |conversation| %>
      <div class="list-group-card-conversations">
        <a href="/conversations/<%= conversation.id %>" class="list-group-item">
          <p class="list-group-item-text"><%= conversation.title %></p>
        </a>
      </div>
    <% end %>
  </div>
</div>
