<div class="col-md-10 col-md-offset-1">
  <div class="post-heading list-header">
    <h4>Users</h4>
  </div>

  <% @users = User.all.paginate(:page => params[:page], :per_page => 10).order('created_at DESC') %>
  <% @users.each do |user| %>

    <% if current_user.following?(user) %>

      <div class="list-group-card-users">
        <a href="/users/<%= user.id %>" class="list-group-item">
          <p class="list-group-item-text user-list"><%= user.full_name %></p>
          <p class="list-group-item-text user-list following">Following</p>
        </a>
      </div>

    <% else %>

      <div class="list-group-card-users">
        <a href="/users/<%= user.id %>" class="list-group-item">
          <p class="list-group-item-text user-list"><%= user.full_name %></p>
        </a>
      </div>

    <% end %>

  <% end %>
  <%= will_paginate %>
</div>
