<div class="row">

  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 user-info">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><%= @user.full_name %></div>
            <ul class="list-group">
              <li class="list-group-item">Email: <%= @user.email %></li>
              <li class="list-group-item">Following: <%= @user.following.count %></li>
            </ul>
        </div>
      </div>
    </div>
  </div> <!-- End of 3-col div -->

  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Trending Conversations</div>

          <!-- List group -->
          <% Conversation.all.each do |conversation| %>
            <ul class="list-group" data-link="<%= conversation_path(conversation) %>">
              <li class="list-group-item"><%= conversation.title %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Groups</div>

            <!-- List group -->
            <% @user.groups.each do |group| %>
              <ul class="list-group" data-link="<%= group_path(group) %>">
                <li class="list-group-item"><%= group.name %></li>
              </ul>
            <% end %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-border table-hover conversations-table">

          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Conversations</div>

            <!-- List group -->
            <% @user.conversations.each do |conversation| %>
              <ul class="list-group" data-link="<%= conversation_path(conversation) %>">
                <li class="list-group-item"><%= conversation.title %></li>
              </ul>
            <% end %>
          </div>
      </div>
    </div>
  </div>

</div>
