<% @user ||= current_user %>
<div class="stats">
  <div>
    <a href="/users/<%= params[:id] %>/groups">
      <h3 class="user-stats">Groups</h3>
      <p class="user-stats count"><%= @user.groups.count %></p>
    </a>
  </div>
  <div>
    <a href="/users/<%= params[:id] %>/posts">
      <h3 class="user-stats">Posts</h3>
      <p class="user-stats count"><%= @user.posts.count %></p>
    </a>
  </div>

  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
