<% user = User.find(params[:id]) %>

<div class="col-md-9">

  <% if current_user.following?(user) || current_user?(user) %>

  <div class="post-heading">
    <h2>Recent Posts</h2>
  </div>

  <div class="list-group">

    <% following_ids = current_user.following.map(&:id) %>
    <% @posts = Post.where(user_id: following_ids).paginate(:page => params[:page], :per_page => 4).order('created_at DESC') %>
    <% @posts.each do |post| %>
      <div class="list-group-card">
        <a href="/conversations/<%= post.conversation_id %>"class="list-group-item post">
          <h3><strong><%= post.title %></strong></h3>
          <p class="list-group-item-text"><%= post.body %></p>
          <h5 class="author"><%= post.user.full_name %></h5><h5 class="author date"><%= post.created_at.strftime("%b %d, %Y") %></h5>
        </a>
      </div>
    <% end %>
  </div>
  <%= will_paginate @posts %>

  <% else %>

  <div class="post-heading list-header">
    <h4>Groups</h4>
  </div>

  <% @user.groups.each do |group| %>
    <div class="list-group-card-groups">
      <a href="/groups/<%= group.id %>" class="list-group-item list">
        <p class="list-group-item-text"><%= group.name %></p>
      </a>
    </div>
  <% end %>

  <% end %>
</div>
