<!DOCTYPE html>
<html>
<head>
  <title>Quill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="/assets/ink6.png">
        </a>
      </div>
      <div class="navbar-header">
        <% if logged_in? %>
          <%= link_to 'Log out', logout_path, :class => "btn btn-default navbar-btn", :method => :delete %>
          <%= link_to 'Profile', current_user, :class => "btn btn-default navbar-btn" %>
        <% else %>
          <%= link_to 'Log in', login_path, :class => "btn btn-default navbar-btn" %>
        <% end %>
      </div>
      <div>
        <% if logged_in? %>
          <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= current_user.full_name %></a></p>
        <% end %>
      </div>
    </div>
  </nav>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

  <%= yield %>

  </body>
</div>
</html>
